@mixin anima($imagem, $tempo, $reverse) {
  background-image: url("../imagens/#{$imagem}");
  animation: anima_cenario #{$tempo} linear infinite;
  animation-direction: $reverse;
}

@mixin sombra($dir, $angle, $distance){
        content: '';
        z-index: -1;
        position: absolute;
        background: $outra-cor;
        width: 50%;
        height: 20px;
        bottom: 12px;
        box-shadow: 0px 15px 10px $outra-cor;
        @if $dir == 'esq'{
            transform: rotate($angle * -1);
            left: $distance;            
        } @else {
            transform: rotate($angle);
            right: $distance;
        }
    }

