@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

// *---------------------------*
// *-------- cores ------------*
// *---------------------------*
$main-color: #b9495c;
$secondary-color: #d5d68b;
$outra-cor: #4F9A91;

// *---------------------------*
// *-------- tamanhos ---------*
// *---------------------------*

$height-nav: 50px;
$breakpoint: 680px;
$height-nav-animado: 300px;
$largura_cenario: 2400px;

// *---------------------------*
// *-------- fontes -----------*
// *---------------------------*

$fonte-principal: 'Staatliches', cursive;
$fonte-secundaria: 'Satisfy', cursive;
$fonte-titulo-card: 'Quicksand', sans-serif;