* {box-sizing: border-box;}

@import 'variables';
@import 'mixins';
@import '_partials/_header-nav';
@import '_partials/_base';
@import '_partials/_header-animado';
@import '_partials/_card-portfolio';
@import '_partials/_footer';