@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto+Slab:100,400,700');

@import './variables';
@import './mixins';
@import './_partials/_header-nav';
@import './_partials/_base';
@import './_partials/_header-animado';