.card-portfolio {

    &:before {
        @include sombra('esq', 3deg, 5px);
    }
    &:after {
        @include sombra('dir', 3deg, 5px);
    }

    padding: 0;
    border-radius: 0;
    border: 1px solid transparent;
    position: relative;
    
    &__imagem {
        height: 230px;
        overflow: hidden;

        img {
            max-width: 100%;
            opacity: .5;
            transition: opacity .3s linear;
        }
    }
    &:hover {
        img {
            opacity: 1;
        }
    }

    &__btn {
        background: $main-color;
        display: block;
        position: relative;

        &:hover {
            background: saturate($main-color, 30%);
        }
    }
}