.card-portfolio {

    &:before {
        @include sombra('esq', 3deg, 5px);
    }
    &:after {
        @include sombra('dir', 3deg, 5px);
    }

    padding: 0;
    border-radius: 0;
    border: 1px solid transparent;
    position: relative;

    &__title {
        text-decoration: underline wavy $main-color;
        font-family: $fonte-titulo-card;
        font-size: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        background: lighten($secondary-color, 20%);
        padding: 5px 0 10px 0;
        margin-bottom: 0;
    }
    
    &__imagem {
        height: 230px;
        overflow: hidden;

        img {
            max-width: 100%;
            opacity: .5;
            transition: opacity .3s linear;
        }
    }
    &:hover {
        img {
            opacity: 1;
        }
    }

    &__text {
        padding: 20px;
        text-align: center;
    }

    &__btn {
        background: $main-color;
        display: block;
        position: relative;
        top: -15px;
        border: none;

        &:hover {
            background: saturate($main-color, 30%);
        }
    }
}


