.footer {
    background: lighten($main-color, 30%);
    color: white;
    padding: 1em 0;

    &__social {
        overflow: auto;
        padding: 0;
        width: 100%;

        &-item {
            width: 20%;
            float: left;
            box-sizing: border-box;
            list-style: none;
            padding: 0;

            a {
                font-size: 1.5em;
                color: white;
                display: block;
                text-align: right;
            }
        }
    }
}