.footer {
    background: lighten($main-color, 30%);

    &__paragrafo {
        
        p {
            margin-bottom: 0;
            text-align: center;
            color: black;
            display: block;
            padding: 10px;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        padding-top: 10px;

        &-item {
            list-style: none;
            padding: 0;

            a {
                font-size: 1.5em;
                color: white;
                display: block;
                padding: 10px;
                border: 1px solid transparent;

                &:hover {
                    background: $secondary-color;
                    border: 1px solid $outra-cor;
                }

            }
        }
    }
}