.header-nav {
    background-color: $main-color;

    &__logo {
        display: inline-block;
        max-width: 350px;
        height: 50px;
        position: relative;
        top: 10px;
    }

    &__hamburgger {
        display: none;
    }

    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: white;
            display: block;
            font-size: 1.5em;
            border-top: 1px solid darken($main-color, 5%);
            padding: 1em;

            &:hover {
                background: darken($main-color, 3%);
                text-decoration: none;
            }
        }
    }
}