.header-animado {
    background-color: $main-color;
    margin: 0;
    padding: 30px 0 0 0;
    overflow: hidden;

    &__title {
        color: #d5d68b;
        font-size: 48px;
        font-family: $fonte-secundaria;
    }

    &__subtitle {
        color: white;
        font-weight: 100;
        font-size: 26px;
        line-height: 1.5;
        letter-spacing: 2px;
    }

    &__ilustra {
        height: $height-nav-animado/2;
        position: relative;

        &>div {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: $largura_cenario * 2;
        }

        .nuvens {
            @include anima('cenario_nuvens.png', 60s, reverse);
        }
    
        .casas {
            @include anima('cenario_casas.png', 30s, normal);
        }
    
        .rua {
            @include anima('cenario_rua.png', 30s, normal);
        }
    
        .carrosCima {
            @include anima('cenario_carrosCima.png', 30s, reverse);
        }
    
        .carrosBaixo {
             @include anima('cenario_carrosBaixo.png', 15s, normal);
        }
        
        @media screen and (min-width: 960px) {
            height: $height-nav-animado;
        }
    }
}