.js.menu-opened {
    overflow: hidden;
    
    &:after {
        content: '';
        display: block;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}

.header-nav {
    background-color: lighten($main-color, 10%);

    .js & {
        height: $height-nav;

        .container {
            height: 100%;
        }
    }

    &__logo {
        display: inline-block;
        max-width: 350px;
        height: $height-nav;
        position: relative;
        top: 10px;
        z-index: 20;

        img  {
            max-width: 100%;
            height: 100%;
        }
    }

    &__hamburgger {
        display: none;

        .js & {
            display: inline-flex;
            float: right;
            height: 100%;
            border: none;
            background: transparent;
            color: white;
            font-size: 2em;
            outline: none;

            &:hover, &:focus {
                background: lighten($main-color, 5%);
            }

            @media screen and (min-width: #{$breakpoint}){
                display: none;
            }
        }
    }

    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: white;
            display: block;
            font-size: 1em;
            border-top: 1px solid darken($main-color, 5%);
            padding: 1em;

            &:hover {
                background: $main-color;
                text-decoration: none;
            }
        }

        .js & {
            @media screen and (max-width: #{$breakpoint}) {
                background: darken($main-color, 10%);
                position: fixed;
                top: $height-nav;
                z-index: 10;
                left: -100%;
                width: 80%;
                bottom: 0;
                transition: left .55s ease-out;
            }

        }

        .menu-opened & {
            display: block;

            @media screen and (max-width: #{$breakpoint}) {
                left: 0;
            }
        }

        
        @media screen and (min-width: #{$breakpoint}) {
            display: inline-flex;
            float: right;
            clear: both; //EU NAO QUERIA USAR ISSO DESCULPA
            height: $height-nav;

            li {
                display: inline-block !important;

                a {
                    border-top: none;
                    font-size: 16px !important;

                }
            }
        }
    }
}