.header-animado {
    $h: 300px;
    background-color: $main-color;
    margin: 0;
    padding: 96px 0 0 0;

    &__title {
        color: #00151a;
        font-size: 38px;
        font-weight: bold;
    }

    &__subtitle {
        color: white;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.5;
    }

    &__ilustra {
        background-image: url('../imagens/cenario_all_960.png');
        height: $h/2;
        background-size: auto 100%;
        background-position: center top;

        @media screen and (min-width: 480px) {
            background-image: url('../imagens/cenario_all_1530.png');
        }

        @media screen and (min-width: 960px) {
            background-image: url('../imagens/cenario_bg.png');
            height: $h;
        }
    }
}