input[type="text"],
input[type="email"], textarea.form-control {
  margin-bottom: 25px;
  transition: background .3s; }
  input:focus[type="text"],
  input:focus[type="email"], textarea.form-control:focus {
    background: #a34c7b; }

input[type="text"],
input[type="email"] {
  padding: 25px 15px; }

textarea.form-control {
  height: 200px; }
