@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto+Slab:100,400,700");
.header-nav {
  background-color: #84b8af; }
  .js .header-nav {
    height: 50px; }
    .js .header-nav .container {
      height: 100%; }
  .header-nav__logo {
    display: inline-block;
    max-width: 350px;
    height: 50px;
    position: relative;
    top: 10px;
    z-index: 1; }
    .header-nav__logo img {
      max-width: 100%;
      height: 100%; }
  .header-nav__hamburgger {
    display: none; }
    .js .header-nav__hamburgger {
      display: inline-flex;
      float: right;
      height: 100%;
      border: none;
      background: transparent;
      color: white;
      font-size: 2em; }
      .js .header-nav__hamburgger:hover, .js .header-nav__hamburgger:focus {
        background: #74aea5; }
  .header-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header-nav__menu a {
      color: white;
      display: block;
      font-size: 1.5em;
      border-top: 1px solid #58988d;
      padding: 1em; }
      .header-nav__menu a:hover {
        background: #5c9e93;
        text-decoration: none; }
    .js .header-nav__menu {
      display: none; }
    .menu-oppened .header-nav__menu {
      display: block; }

h1, h2, h3, h4, h5, h6, .title {
  font-family: 'Roboto Slab';
  font-weight: bold; }

.header-animado {
  background-color: #64a59a;
  margin: 0;
  padding: 96px 0 0 0;
  overflow: hidden; }
  .header-animado__title {
    color: #00151a;
    font-size: 38px;
    font-weight: bold; }
  .header-animado__subtitle {
    color: white;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5; }
  .header-animado__ilustra {
    background-image: url("../imagens/cenario_all_960.png");
    height: 150px;
    background-size: auto 100%;
    background-position: center top; }
    .header-animado__ilustra > div {
      display: none; }
    @media screen and (min-width: 480px) {
      .header-animado__ilustra {
        background-image: url("../imagens/cenario_all_1530.png"); } }
    @media screen and (min-width: 960px) {
      .header-animado__ilustra {
        background-image: url("../imagens/cenario_bg.png");
        height: 300px;
        position: relative; }
        .header-animado__ilustra > div {
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 4800px; }
        .header-animado__ilustra .nuvens {
          background-image: url("../imagens/cenario_nuvens.png");
          animation: anima_cenario 60s linear infinite;
          animation-direction: reverse; }
      @keyframes anima_cenario {
        from {
          transform: translateX(-50%) translateZ(0); }
        to {
          transform: translateX(0%) translateZ(0); } }
        .header-animado__ilustra .casas {
          background-image: url("../imagens/cenario_casas.png");
          animation: anima_cenario 30s linear infinite;
          animation-direction: normal; }
      @keyframes anima_cenario {
        from {
          transform: translateX(-50%) translateZ(0); }
        to {
          transform: translateX(0%) translateZ(0); } }
        .header-animado__ilustra .rua {
          background-image: url("../imagens/cenario_rua.png");
          animation: anima_cenario 30s linear infinite;
          animation-direction: normal; }
      @keyframes anima_cenario {
        from {
          transform: translateX(-50%) translateZ(0); }
        to {
          transform: translateX(0%) translateZ(0); } }
        .header-animado__ilustra .carrosCima {
          background-image: url("../imagens/cenario_carrosCima.png");
          animation: anima_cenario 30s linear infinite;
          animation-direction: reverse; }
      @keyframes anima_cenario {
        from {
          transform: translateX(-50%) translateZ(0); }
        to {
          transform: translateX(0%) translateZ(0); } }
        .header-animado__ilustra .carrosBaixo {
          background-image: url("../imagens/cenario_carrosBaixo.png");
          animation: anima_cenario 15s linear infinite;
          animation-direction: normal; }
      @keyframes anima_cenario {
        from {
          transform: translateX(-50%) translateZ(0); }
        to {
          transform: translateX(0%) translateZ(0); } } }

.card-portfolio {
  padding: 0;
  border-radius: 0;
  border: 1px solid transparent;
  position: relative; }
  .card-portfolio:before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 20px;
    bottom: 12px;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
    left: 5px; }
  .card-portfolio:after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 20px;
    bottom: 12px;
    box-shadow: 0 15px 10px #777;
    transform: rotate(3deg);
    right: 5px; }
  .card-portfolio__imagem {
    height: 230px;
    overflow: hidden; }
    .card-portfolio__imagem img {
      max-width: 100%;
      opacity: .5;
      transition: opacity .3s linear; }
  .card-portfolio:hover img {
    opacity: 1; }
  .card-portfolio__btn {
    background: #64a59a;
    display: block;
    position: relative; }
    .card-portfolio__btn:hover {
      background: #3fcab2; }
